.container {
  display: flex;
  margin-top: 20px;
  width: 700px;
  justify-content: space-between;
}

.header {
  font-weight: 600;
  font-size: 13px;
}

.input-component {
  label {
    font-size: 10px;
  }
}
